@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@keyframes risingstar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2048px);
  }
}

/* hide vecrtical scrollbar */

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}